{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div style="display: flex;">
        <div class="col mx-auto justify-content-center" style="flex: 1 1 20%;">
            <div class="card mb-4 mt-3 mx-3" data-bs-theme="dark" style="border-color: var(--primary-orange);">
                <!-- <div class="card-header text-light">
                  Menu
                </div> -->
                <div class="card-body">
                    <h5 class="card-title mb-3" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); color: var(--secondary-light);">Menu</h5>
                    <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                        <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                            <i class="bi bi-threads-fill ms-4 me-1"></i>&nbsp;&nbsp;Threads
                        </div>
                    </a>
                    <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                        <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                            <i class="bi bi-tag-fill ms-4 me-1"></i>&nbsp;&nbsp;Categories
                        </div>
                    </a>
                    <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                        <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                            <i class="bi bi-book-fill ms-4 me-1"></i>&nbsp;&nbsp;Diaries
                        </div>
                    </a>
                    <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                        <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                            <i class="bi bi-lightbulb-fill ms-4 me-1"></i>&nbsp;&nbsp;Tips & Tricks
                        </div>
                    </a>
                    <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="/help">
                        <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                            <i class="bi bi-question-circle-fill ms-4 me-1"></i>&nbsp;&nbsp;Help
                        </div>
                    </a>
                    <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                        <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                            <i class="bi bi-info-circle-fill ms-4 me-1"></i>&nbsp;&nbsp;About Us
                        </div>
                    </a>
                </div>
            </div>
            <div class="card mb-4 mt-3 mx-3 card-collapse-custom" data-bs-theme="dark" style="border-color: var(--primary-orange);">
                <div class="card-body">
                    <button type="button" class="btn pb-0 pt-0 px-0 btn-collapse-custom" data-bs-toggle="collapse" data-bs-target="#followedthreadscollapse" aria-expanded="false" aria-controls="followedthreadscollapse">
                        <h5 class="card-title mb-0" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); color: var(--secondary-light);"><i class="bi bi-threads me-2"></i>Followed Threads<i class="bi bi-caret-down-fill ms-4 down-arrow-custom"></i></h5>
                    </button>
                    <div class="collapse" id="followedthreadscollapse">
                        {% if user.followed_threads_count == 0 %}
                            <p class="card-text text-body-secondary text-center mt-4">No followed threads yet</p>
                        {% else %}
                            {% for i in range(user.followed_threads_count) %}
                                <div class="card mb-3 mx-1 mt-4 card-post-custom rounded-pill" style="border: none; background-color: var(--primary-dark);">
                                    <div class="row g-0">
                                        <div class="col-md-3">
                                            {% if user.followed_threads[i].img %}
                                                <img src="{{ user.followed_threads[i].img }}" class="img-fluid rounded-circle" alt="Followed Thread Image" style="min-height: 100%; min-width: 100%; object-fit: cover;">
                                            {% else %}
                                                <img src="static/img/vclogo-white.svg" class="img-fluid rounded-circle" alt="Followed Thread Image" style="min-height: 100%; min-width: 100%; object-fit: cover;">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                {% if user.followed_threads[i].name|length > 10 %}
                                                    <h6 class="card-title">{{ user.followed_threads[i].name[0:10] }}...</h6>
                                                {% else %}
                                                    <h6 class="card-title">{{ user.followed_threads[i].name }}</h6>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col mx-auto justify-content-center align-items-center" style="flex: 1 1 60%;">
            <div class="card mb-5 mt-3 mx-3" style="border: 1px solid var(--primary-light);" data-bs-theme="dark">
                <div class="row g-0">
                    <div class="col-md-1 ms-4 align-self-center">
                        {% if user.profile_pic %}
                            <img src="static/img/generic_pfp.png" style="background-color: var(--secondary-dark)" class="img-fluid rounded-circle" alt="Profile Picture">
                        {% else %}
                            <img src="static/img/vclogo-white.svg" style="background-color: var(--secondary-dark)" class="img-fluid rounded-circle" alt="Profile Picture">
                        {% endif %}
                    </div>
                    <div class="col-md-10 ms-3">
                        <div class="card-body">
                            <form class="d-flex me-auto" role="quick post" style="display: inline;" id="quickpostform">
                                <input type="text" class="form-control search-input-text-custom me-auto align-self-center form-input-custom" id="quickpostbar" placeholder="What's on your mind today?" aria-label="Quick Post" aria-describedby="quickpostbtn" style="border: none; background-color: var(--secondary-dark); font-family: var(--primary-font-family); font-weight: var(--font-weight-light); color: var(--primary-light); font-optical-sizing: auto;">
                                <button class="btn btn-orange-custom ms-4 align-self-center" style="width: 15%;" id="quickpostbtn" type="submit"><i class="bi bi-send-fill"></i>&nbsp;&nbsp;Post</button>
                            </form>
                            <div class="container-fluid px-0 mx-0">
                                <a class="btn btn-sm badge-custom mx-1 px-2 mt-3 mb-1"><i class="bi bi-emoji-laughing"></i>&nbsp;&nbsp;&nbsp;Emojis</a>
                                <a class="btn btn-sm badge-custom mx-1 px-2 mt-3 mb-1"><i class="bi bi-images"></i>&nbsp;&nbsp;&nbsp;Attach Image(s)</a>
                                <a class="btn btn-sm badge-custom mx-1 px-2 mt-3 mb-1"><img src="static/img/gif_icon_light.svg" height="19" width="19"></i>&nbsp;&nbsp;&nbsp;Attach GIF(s)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="ms-3 mb-3" style="font-family: var(--secondary-font-family); color: var(--secondary-light); ">Posts</h2>
            {% for post in user.posts %}
                <!-- <div class="card mb-2 mx-3 card-post-custom" data-bs-theme="dark">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="{{ post.img }}" class="img-fluid rounded-start" alt="Post Image" style="min-height: 100%; min-width: 100%; object-fit: cover;">
                        </div>
                        <div class="col-md-8 ms-4" style="display: flex;">
                            <div class="card-body" style="flex: 1 1 90;">
                                <a class="nav-link mb-3" href="#"><h4 class="card-title">{{ post.title }}</h4></a>
                                {% for tag in post.tags %}
                                    <a class="btn btn-sm badge badge-custom me-1 mb-2">{{ tag }}</a>
                                {% endfor %}
                                {% if post.desc|length > 30 %}
                                    <p class="card-text">{{ post.desc[0:30] }}...</p>
                                {% else %}
                                    <p class="card-text">{{ post.desc }}</p>
                                {% endif %}
                                <a href="#" class="nav-link mt-4" style="display: flex;">
                                    {% if post.user %}
                                        <img src="static/img/generic_pfp.png" height="50" width ="50" style="flex: 1 1 50; background-color: var(--secondary-dark)" class="rounded-circle" alt="Profile Picture">
                                    {% else %}
                                        <img src="static/img/vclogo-white.svg" height="50" width ="50" style="flex: 1 1 50; background-color: var(--secondary-dark)" class="rounded-circle" alt="Profile Picture">
                                    {% endif %}
                                    <div class="container-fluid" style="flex: 1 1 50;">
                                        <p style="display:inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); color: var(--primary-light); font-size: large; font-optical-sizing: auto;">{{ post.user }}</p>
                                        <p class="card-text"><small class="text-body-secondary">{{ post.posted_at }}</small></p>
                                    </div>
                                </a>
                            </div>
                            <a class="btn btn-sm btn-interaction-custom ms-5 me-1 text-light align-self-center" style="flex: 1 1 10;" href="#"><i class="bi bi-heart-fill"></i></a>
                            <button type="button" class="btn btn-sm btn-interaction-custom rounded ms-5 me-1 align-self-center" style="flex: 1 1 10;"><i class="bi bi-heart-fill"></i></button>
                        </div>
                    </div>
                </div> -->

                <div class="card mb-2 mx-3 card-post-custom" data-bs-theme="dark">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="{{ post.img }}" class="img-fluid rounded-start" alt="Post Image" style="min-height: 100%; min-width: 100%; object-fit: cover;">
                        </div>
                        <div class="col-md-8 ms-4" style="display: flex;">
                            <div class="card-body" style="flex: 1 1 90;">
                                <div class="container-fluid px-0"  style="display: inline; width: 100%;">
                                    <a href="#" class="nav-link hlink-text-custom" style="display: inline;">
                                        {% if post.user %}
                                            <img src="static/img/generic_pfp.png" height="20" width ="20" style="background-color: var(--secondary-dark)" class="rounded-circle" alt="Profile Picture">
                                        {% else %}
                                            <img src="static/img/vclogo-white.svg" height="20" width ="20" style="background-color: var(--secondary-dark)" class="rounded-circle" alt="Profile Picture">
                                        {% endif %}
                                        <p style="display:inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); font-size: small; font-optical-sizing: auto;">{{ post.user }}</p>
                                    </a>
                                    &nbsp;&nbsp;<i class="bi bi-circle-fill" style="font-size: 0.25rem; vertical-align: 50%;"></i>&nbsp;&nbsp;
                                    <a href="#" class="nav-link hlink-text-custom" style="display: inline;">
                                        {% if post.thread.img %}
                                            <img src="{{ post.thread.img }}" height="20" width ="20" style="background-color: var(--secondary-dark)" class="rounded-circle" alt="Thread Image">
                                        {% else %}
                                            <img src="static/img/vclogo-white.svg" height="20" width ="20" style="background-color: var(--secondary-dark)" class="rounded-circle" alt="Thread Image">
                                        {% endif %}
                                        <p style="display:inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); font-size: small; font-optical-sizing: auto;">{{ post.thread.name }}</p>
                                    </a>
                                    &nbsp;&nbsp;<i class="bi bi-circle-fill" style="font-size: 0.25rem; vertical-align: 50%;"></i>&nbsp;&nbsp;
                                    <div class="container-fluid px-0" style="display: inline;">
                                        <p class="card-text" style="display:inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); color: var(--secondary-light); font-size: small; font-optical-sizing: auto;">{{ post.posted_at }}</p>
                                    </div>              
                                </div>
                                <a class="nav-link mt-3 mb-2" href="#"><h4 class="card-title">{{ post.title }}</h4></a>
                                {% for tag in post.tags %}
                                    <a class="btn btn-sm badge badge-custom me-1 mb-2">{{ tag }}</a>
                                {% endfor %}
                                {% if post.desc|length > 30 %}
                                    <p class="card-text mb-3">{{ post.desc[0:30] }}...</p>
                                {% else %}
                                    <p class="card-text mb-3">{{ post.desc }}</p>
                                {% endif %}
                                <div class="container-fluid px-0"  style="display: inline; width: 50%;">
                                    <button type="button" class="btn btn-sm btn-upvote-custom rounded-pill me-2 align-self-center" style="display: inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); font-optical-sizing: auto;">
                                        <i class="bi bi-hand-thumbs-up-fill"></i>&nbsp;&nbsp;{{ post.likes }}
                                    </button>
                                    <button type="button" class="btn btn-sm btn-downvote-custom rounded-pill me-2 align-self-center" style="display: inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); font-optical-sizing: auto;">
                                        <i class="bi bi-hand-thumbs-down-fill"></i>&nbsp;&nbsp;{{ post.dislikes }}
                                    </button>
                                    <button type="button" class="btn btn-sm btn-comment-custom rounded-pill me-2 align-self-center" style="display: inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); font-optical-sizing: auto;">
                                        <i class="bi bi-chat-square-fill"></i>&nbsp;&nbsp;{{ post.comments }}
                                    </button>
                                    <button type="button" class="btn btn-sm btn-share-custom rounded-pill me-2 align-self-center" style="display: inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); font-optical-sizing: auto;">
                                        <i class="bi bi-share-fill"></i>&nbsp;&nbsp;Share
                                    </button>              
                                </div>
                            </div>
                            <!-- <a class="btn btn-sm btn-interaction-custom ms-5 me-1 text-light align-self-center" style="flex: 1 1 10;" href="#"><i class="bi bi-heart-fill"></i></a> -->
                            <button type="button" class="btn btn-sm btn-interaction-custom rounded me-1 align-self-center" style="flex: 1 1 10;"><i class="bi bi-heart-fill"></i></button>
                        </div>
                    </div>
                </div>
                <hr class="mx-3 mt-2 mb-2" style="border: 1px solid var(--secondary-light);">
            {% endfor %}
        </div>
        <div class="col mx-auto justify-content-center" style="flex: 1 1 20%;">
            <div class="card mb-4 mt-3 mx-3" data-bs-theme="dark" style="border-color: var(--primary-light);">
                <div class="card-body">
                    <h5 class="card-title mb-3" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); color: var(--secondary-light);"><i class="bi bi-graph-up-arrow me-2"></i>Trending</h5>
                    {% if user.trending_count == 0 %}
                        <p class="card-text text-body-secondary text-center">No trending posts</p>
                    {% else %}
                        {% for i in range(user.trending_count) %}
                            <div class="card mb-3 mx-1 card-post-custom" style="border: none; background-color: var(--primary-dark);">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div class="container-fluid rounded" style="background-color: var(--secondary-dark); min-height: 100%; min-width: 100%; object-fit: cover;">
                                            <p class="text-light pt-3 text-center align-baseline" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); font-size: medium; font-optical-sizing: auto;">{{ user.trending[i].month }}</p>
                                            <p class="text-primary text-center align-baseline" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); font-size: x-large; font-optical-sizing: auto;">{{ user.trending[i].day }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            {% if user.trending[i].name|length > 20 %}
                                                <h6 class="card-title">{{ user.trending[i].name[0:20] }}...</h6>
                                            {% else %}
                                                <h6 class="card-title">{{ user.trending[i].name }}</h6>
                                            {% endif %}
                                            {% if user.trending[i].place|length > 20 %}
                                                <p class="card-text"><small class="text-body-secondary">{{ user.trending[i].place[0:20] }}...</small></p>
                                            {% else %}
                                                <p class="card-text"><small class="text-body-secondary">{{ user.trending[i].place }}</small></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="card mb-4 mt-3 mx-3" data-bs-theme="dark" style="border-color: var(--primary-light);">
                <div class="card-body">
                    <h5 class="card-title mb-3" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); color: var(--secondary-light);"><i class="bi bi-clock-history me-2"></i>Recent Searches</h5>
                    {% if user.recent_searches_count == 0 %}
                        <p class="card-text text-body-secondary text-center">No recent searches</p>
                    {% else %}
                        {% for i in range(user.recent_searches_count) %}
                            <div class="card mb-3 mx-1 card-post-custom" style="border: none; background-color: var(--primary-dark);">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ user.recent_searches[i].img }}" class="img-fluid rounded-start" alt="Recent Search Image" style="min-height: 100%; min-width: 100%; object-fit: cover;">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            {% if user.recent_searches[i].name|length > 20 %}
                                                <h6 class="card-title">{{ user.recent_searches[i].name[0:20] }}...</h6>
                                            {% else %}
                                                <h6 class="card-title">{{ user.recent_searches[i].name }}</h6>
                                            {% endif %}
                                            {% if user.recent_searches[i].place|length > 20 %}
                                                <p class="card-text"><small class="text-body-secondary">{{ user.recent_searches[i].place[0:20] }}...</small></p>
                                            {% else %}
                                                <p class="card-text"><small class="text-body-secondary">{{ user.recent_searches[i].place }}</small></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}