{% extends 'base.html' %}

{% block title %}
    Search Results
{% endblock %}

{% block content %}
    <div style="display: flex;">
        <div class="col mx-auto justify-content-center" style="flex: 1 1 20%;">
            <aside>
                <div class="card mb-4 mt-3 mx-3" data-bs-theme="dark" style="border-color: var(--primary-orange);">
                    <!-- <div class="card-header text-light">
                    Menu
                    </div> -->
                    <div class="card-body">
                        <h5 class="card-title mb-3" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); color: var(--secondary-light);">Menu</h5>
                        <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                            <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                                <i class="bi bi-threads-fill ms-4 me-1"></i>&nbsp;&nbsp;Communities
                            </div>
                        </a>
                        <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                            <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                                <i class="bi bi-tag-fill ms-4 me-1"></i>&nbsp;&nbsp;Categories
                            </div>
                        </a>
                        <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                            <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                                <i class="bi bi-book-fill ms-4 me-1"></i>&nbsp;&nbsp;Diaries
                            </div>
                        </a>
                        <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                            <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                                <i class="bi bi-lightbulb-fill ms-4 me-1"></i>&nbsp;&nbsp;Tips & Tricks
                            </div>
                        </a>
                        <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="/help">
                            <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                                <i class="bi bi-question-circle-fill ms-4 me-1"></i>&nbsp;&nbsp;Help
                            </div>
                        </a>
                        <a class="btn btn-light rounded-pill rounded-pill-menu-custom mb-3 w-100 text-start pt-0 pb-0" href="#">
                            <div class="container-fluid pt-1 pb-1" style="background-color: var(--primary-light);">
                                <i class="bi bi-info-circle-fill ms-4 me-1"></i>&nbsp;&nbsp;About Us
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card mb-4 mt-3 mx-3 card-collapse-custom" data-bs-theme="dark" style="border-color: var(--primary-orange);">
                    <div class="card-body">
                        <button type="button" class="btn pb-0 pt-0 px-0 btn-collapse-custom" data-bs-toggle="collapse" data-bs-target="#followedcommunitiescollapse" aria-expanded="false" aria-controls="followedcommunitiescollapse">
                            <h5 class="card-title mb-0" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); color: var(--secondary-light);"><i class="bi bi-threads me-2"></i>Followed Communities<i class="bi bi-caret-down-fill ms-4 down-arrow-custom"></i></h5>
                        </button>
                        <div class="collapse" id="followedcommunitiescollapse">
                            {% if user.followed_communities_count == 0 %}
                                <p class="card-text text-body-secondary text-center mt-4">No followed communities yet</p>
                            {% else %}
                                {% for i in range(user.followed_communities_count) %}
                                    <a href="#" style="text-decoration: none;">
                                        <div class="card mb-3 mx-1 mt-4 card-post-custom rounded-pill" style="border: none; background-color: var(--primary-dark);">
                                            <div class="row g-0">
                                                <div class="col-md-3">
                                                    {% if user.followed_communities[i].img %}
                                                        <img src="{{ url_for('static', path=user.followed_communities[i].img) }}" class="img-fluid rounded-circle" alt="Followed Community Image" style="min-height: 100%; min-width: 100%; object-fit: cover;">
                                                    {% else %}
                                                        <img src="{{ url_for('static', path='img/vclogo-white.svg') }}" class="img-fluid rounded-circle" alt="Followed Community Image" style="min-height: 100%; min-width: 100%; object-fit: cover;">
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        {% if user.followed_communities[i].name|length > 10 %}
                                                            <h6 class="card-title mb-0">{{ user.followed_communities[i].name[0:10] }}...</h6>
                                                        {% else %}
                                                            <h6 class="card-title mb-0">{{ user.followed_communities[i].name }}</h6>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col mx-auto justify-content-center align-items-center" style="flex: 1 1 60%;">
            <h2 class="ms-3 mb-3 mt-3 text-center" style="font-family: var(--secondary-font-family); color: var(--secondary-light); ">Search Results</h2>
            <hr class="text-light mx-0 mt-2 mb-2" style="border:1px solid; width:100%; border-color: var(--primary-light);">
            <div class="container-fluid px-1">
                <div class="container-fluid px-0 mx-0 mt-2 mb-2">
                    <span class="text-light" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-semi-bold); font-size: medium;"><i class="bi bi-funnel"></i>&nbsp;Search In:</span>&nbsp;&nbsp;
                    <button type="button" class="btn rounded-pill btn-filter-custom mx-1 px-2">Posts</button>
                    <button type="button" class="btn rounded-pill btn-filter-custom mx-1 px-2">Communities</button>
                    <button type="button" class="btn rounded-pill btn-filter-custom mx-1 px-2">People</button>
                </div>
                <div class="container-fluid px-0 mx-0 mt-2 mb-2">
                    <span class="text-light" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); font-size: small;"><i class="bi bi-sort-down"></i>&nbsp;Sort By:</span>&nbsp;&nbsp;
                    <div class="dropdown-center" style="display: inline;">
                        <button type="button" class="btn btn-sm rounded-pill btn-filter-custom mx-1 px-2 dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Top&nbsp;&nbsp;<i class="bi bi-caret-down-fill" style="font-size: x-small;"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end mt-1" data-bs-theme="dark" style="width: 5%;">
                            <li><a class="btn btn-sm dropdown-item" href="#" style="font-size: x-small;"><i class="bi bi-fire"></i>&nbsp;&nbsp;Hot</a></li>
                            <li ><hr class="dropdown-divider" style="font-size: x-small;"></li>
                            <li><a class="btn btn-sm dropdown-item active" href="#" style="font-size: x-small;"><i class="bi bi-graph-up-arrow"></i>&nbsp;&nbsp;Top</a></li>
                        </ul>
                    </div>
                    <div class="dropdown-center" style="display: inline;">
                        <button type="button" class="btn btn-sm rounded-pill btn-filter-custom mx-1 px-2 dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Newer&nbsp;&nbsp;<i class="bi bi-caret-down-fill" style="font-size: x-small;"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end mt-1" data-bs-theme="dark" style="width: 5%;">
                            <li><a class="btn btn-sm dropdown-item active" href="#" style="font-size: x-small;"><i class="bi bi-hourglass-top"></i>&nbsp;&nbsp;Newer</a></li>
                            <li ><hr class="dropdown-divider" style="font-size: x-small;"></li>
                            <li><a class="btn btn-sm dropdown-item" href="#" style="font-size: x-small;"><i class="bi bi-hourglass-bottom"></i>&nbsp;&nbsp;Older</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="text-light mx-0 mt-2 mb-2" style="border:1px solid; width:100%; border-color: var(--primary-light);">
            <div class="card mb-5 mt-3 mx-3" style="border: none;" data-bs-theme="dark">
                <div class="row g-0 rounded" style="height:12rem; overflow: hidden;">
                    <img src="{{ url_for('static', path='img/mapimg.png') }}"style="object-fit: cover;" alt="Map Image Search Results">
                </div>
            </div>

            {% for postbatch in user.posts %}
                <div class="container-fluid" style="display: inline-flex;">
                    {% for post in postbatch %}
                        <div class="card mb-2 mx-3 card-post-custom" style="width: 17.5rem;" data-bs-theme="dark">
                            <img src="{{ url_for('static', path=post.img) }}" class="img-fluid rounded-top card-img-top" alt="Post Image" style="max-height: 100%; min-width: 100%; object-fit: cover;">
                            <div class="dropdown" data-bs-theme="dark" style="position: absolute; top: 50px; right: 10px;">
                                <button type="button" class="btn btn-sm btn-three-dots-custom rounded me-1 align-self-center dropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-secondary mt-2">
                                    <li><a class="dropdown-item dropdown-item-secondary" href="#"><i class="bi bi-bookmark"></i>&nbsp;&nbsp;Save</a></li>
                                    <li><hr class="dropdown-divider dropdown-divider-secondary"></li>
                                    <li><a class="dropdown-item dropdown-item-secondary" href="#"><i class="bi bi-eye-slash"></i>&nbsp;&nbsp;Hide</a></li>
                                    <li><hr class="dropdown-divider dropdown-divider-secondary"></li>
                                    <li><a class="dropdown-item dropdown-item-secondary" href="#"><i class="bi bi-flag"></i>&nbsp;&nbsp;Report</a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-sm btn-interaction-custom rounded me-1 align-self-center" style="position: absolute; top: 10px; right: 10px;"><i class="bi bi-heart-fill"></i></button>
                            <div class="col-md">
                                <div class="card-body pt-2">
                                    <div class="container-fluid px-0"  style="width: 100%;">
                                        <a href="{{ url_for('get_profile', username=post.user, tab='posts') }}" class="nav-link hlink-text-custom" style="display: inline;">
                                            {% if post.user %}
                                                <img src="{{ url_for('static', path='img/generic_pfp.png') }}" height="12" width ="12" style="background-color: var(--secondary-dark)" class="rounded-circle" alt="Profile Picture">
                                            {% else %}
                                                <img src="{{ url_for('static', path='img/vclogo-white.svg') }}" height="12" width ="12" style="background-color: var(--secondary-dark)" class="rounded-circle" alt="Profile Picture">
                                            {% endif %}
                                            <p style="display:inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); font-size: x-small; font-optical-sizing: auto;">{{ post.user }}</p>
                                        </a>
                                        <i class="bi bi-circle-fill" style="font-size: 0.15rem; vertical-align: 50%;"></i>
                                        <a href="#" class="nav-link hlink-text-custom" style="display: inline;">
                                            {% if post.community.img %}
                                                <img src="{{ url_for('static', path=post.community.img) }}" height="12" width ="12" style="background-color: var(--secondary-dark)" class="rounded-circle" alt="Community Image">
                                            {% else %}
                                                <img src="{{ url_for('static', path='img/vclogo-white.svg') }}" height="12" width ="12" style="background-color: var(--secondary-dark)" class="rounded-circle" alt="Community Image">
                                            {% endif %}
                                            <p style="display:inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); font-size: x-small; font-optical-sizing: auto;">{{ post.community.name }}</p>
                                        </a>
                                        <i class="bi bi-circle-fill" style="font-size: 0.15rem; vertical-align: 50%;"></i>
                                        <div class="container-fluid px-0" style="display: inline;">
                                            <p class="card-text" style="display:inline; font-family: var(--primary-font-family); font-weight: var(--font-weight-semi-bold); color: var(--secondary-light); font-size: x-small; font-optical-sizing: auto;">{{ post.posted_at }}</p>
                                        </div>              
                                    </div>
                                    <a class="nav-link mt-2 mb-2" href="#"><h5 class="card-title">{{ post.title }}</h5></a>
                                    <div class="container-fluid px-0" style="display: inline; width: 100%;">
                                        {% for tag in post.tags[0:3] %}
                                            <a class="btn btn-sm badge badge-custom me-1 mb-2" style="font-size: xx-small;">{{ tag }}</a>
                                        {% endfor %}
                                        {% if post.desc|length > 30 %}
                                            <p class="card-text mb-3" style="font-size: small;">{{ post.desc[0:30] }}...</p>
                                        {% else %}
                                            <p class="card-text mb-3" style="font-size: small;">{{ post.desc }}</p>
                                        {% endif %}
                                    </div>
                                    <a class="btn btn-sm btn-orange-custom" href="#" style="position: absolute; right: 10px; bottom: 10px;">
                                        View&nbsp;<i class="bi bi-caret-right-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if not loop.last %}
                    <hr class="mx-3 mt-2 mb-2" style="border: 1px solid var(--secondary-light);">
                {% endif %}
            {% endfor %}
        </div>
        <div class="col mx-auto justify-content-center" style="flex: 1 1 20%;">
            <aside>
                <div class="card mb-4 mt-3 mx-3" data-bs-theme="dark" style="border-color: var(--primary-light);">
                    <div class="card-body">
                        <h5 class="card-title mb-3" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); color: var(--secondary-light);"><i class="bi bi-graph-up-arrow me-2"></i>Trending</h5>
                        {% if user.trending_count == 0 %}
                            <p class="card-text text-body-secondary text-center">No trending posts</p>
                        {% else %}
                            {% for i in range(user.trending_count) %}
                                <a href="#" style="text-decoration: none;">
                                    <div class="card mb-3 mx-1 card-post-custom" style="border: none; background-color: var(--primary-dark);">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <div class="container-fluid rounded" style="background-color: var(--secondary-dark); min-height: 100%; min-width: 100%; object-fit: cover;">
                                                    <p class="text-light pt-3 text-center align-baseline" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); font-size: medium; font-optical-sizing: auto;">{{ user.trending[i].month }}</p>
                                                    <p class="text-primary text-center align-baseline" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); font-size: x-large; font-optical-sizing: auto;">{{ user.trending[i].day }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    {% if user.trending[i].name|length > 20 %}
                                                        <h6 class="card-title">{{ user.trending[i].name[0:20] }}...</h6>
                                                    {% else %}
                                                        <h6 class="card-title">{{ user.trending[i].name }}</h6>
                                                    {% endif %}
                                                    {% if user.trending[i].place|length > 20 %}
                                                        <p class="card-text"><small class="text-body-secondary">{{ user.trending[i].place[0:20] }}...</small></p>
                                                    {% else %}
                                                        <p class="card-text"><small class="text-body-secondary">{{ user.trending[i].place }}</small></p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="card mb-4 mt-3 mx-3" data-bs-theme="dark" style="border-color: var(--primary-light);">
                    <div class="card-body">
                        <h5 class="card-title mb-3" style="font-family: var(--secondary-font-family); font-weight: var(--font-weight-medium); color: var(--secondary-light);"><i class="bi bi-clock-history me-2"></i>Recent Searches</h5>
                        {% if user.recent_searches_count == 0 %}
                            <p class="card-text text-body-secondary text-center">No recent searches</p>
                        {% else %}
                            {% for i in range(user.recent_searches_count) %}
                                <a href="#" style="text-decoration: none;">
                                    <div class="card mb-3 mx-1 card-post-custom" style="border: none; background-color: var(--primary-dark);">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="{{ url_for('static', path=user.recent_searches[i].img) }}" class="img-fluid rounded-start" alt="Recent Search Image" style="min-height: 100%; min-width: 100%; object-fit: cover;">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    {% if user.recent_searches[i].name|length > 20 %}
                                                        <h6 class="card-title">{{ user.recent_searches[i].name[0:20] }}...</h6>
                                                    {% else %}
                                                        <h6 class="card-title">{{ user.recent_searches[i].name }}</h6>
                                                    {% endif %}
                                                    {% if user.recent_searches[i].place|length > 20 %}
                                                        <p class="card-text"><small class="text-body-secondary">{{ user.recent_searches[i].place[0:20] }}...</small></p>
                                                    {% else %}
                                                        <p class="card-text"><small class="text-body-secondary">{{ user.recent_searches[i].place }}</small></p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}